---
export interface Props {
    label: string;
    isFullWidth?: boolean;
    type?: string;
}

const { label, isFullWidth = false, type = 'button' }: Props = Astro.props;

const width = isFullWidth ? 'width: 100%;' : 'width: fit-content;';
---

<button style={ width } type={ type }>{ label }</button>

<style>
    button {
        display: inline-block;
        padding: 0.7rem 1.4rem;
        width: 100%;
        border-radius: 6px;
        background: var(--bg-color);
        color: var(--primary-color);
        border: var(--border-color) solid 1px;
        font-size: 1.1rem;
        font-weight: 700;
        cursor: pointer;
        transition: background 0.3s ease, color 0.3s ease;
    }
    button:hover {
        background: var(--primary-color);
        border: transparent solid 1px;
        color: var(--bg-color);
    }
</style>