---
import Button from "../components/Button.astro";

export interface Props {
    description: string;
    price: number;
    buttonLabel: string;
    perkList: {
        name: string;
        isActive: boolean;
    }[];
}

const { description, price, perkList, buttonLabel } = Astro.props;
---

<li class="card-grid">
    <div class="card-grid__price">
        <span class="card-plan">{description}</span>
        <span class="card-price">{price}</span>
        <span class="card-monthly">/month</span>
    </div>
    <div class="card-grid__perks">
        {perkList.map((perk) => (
            <div>{perk.isActive ? <i class="icon icon--active fa-solid fa-check"></i> : <i class="icon icon--inactive fa-solid fa-xmark"></i>}{perk.name}</div>
        ))}
    </div>
    <Button label="Get plan" isFullWidth={true} />
</li>

<style>
    .card-grid {
        display: flex;
        flex: 1;
        flex-direction: column;
        background: var(--mid-bg-color);
        padding: 1.2rem;
        border-radius: 6px;
        margin-top: 2rem;
        grid-column: auto;
        min-width: 275px;
        width: 275px;
        max-width: 275px;
        transition: transform 0.3s ease;
    }
    .card-grid:hover {
        transform: scale(1.05);
    }
    .card-plan {
        color: var(--primary-color);
    }
    .card-price {
        font-size: 3.6rem;
        font-weight: 700;
        color: var(--font-color);
    }
    .card-price::before {
        content: "$";
        width: 100%;
        margin-bottom: 1.2rem;
    }
    .card-monthly {
        color: var(--font-color);
        filter: brightness(0.75);
    }
    .card-grid__price {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .card-grid__perks {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        margin-left: 5px;
        margin-bottom: 1rem;
    }
    .card-grid__perks div {
        display: flex;
        align-items: center;
        margin-bottom: 0.75rem;
    }
    .icon {
        display: inline-block;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 50%;
        font-size: 1.2rem;
        font-weight: 700;
        text-align: center;
        line-height: 1.6rem;
        margin-right: 1rem;
    }
    .icon--active {
        color: #9acd54;
        background: var(--mid-bg-color);
    }
    .icon--inactive {
        color: #c94646;
        background: var(--mid-bg-color);
    }
    .card-grid__btn-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 1.3rem;
    }
</style>
