---
import Section from '../Section.astro'
---

<Section isFullWidth={true} >
    <footer>
        <p>
            Created by Agustin Wet 2023 &copy;
        </p>
    </footer>
</Section>

<style>
    footer {
        background-color: var(--mid-bg-color);
        color: var(--font-color);
        padding: 20px;
        text-align: center;
        width: 100%;
    }
</style>