---
export interface Props {
    label: string;
    isFullWidth?: boolean;
    type?: string;
}

const { label, isFullWidth = false, type = 'button' }: Props = Astro.props;

const width = isFullWidth ? 'width: 100%;' : 'width: fit-content;';
---

<button style={ width } type={ type }>
    <span>{ label }</span>
</button>

<style>
    button {
        display: inline-block;
        padding: var(--gap-size-1) var(--gap-size-2);
        width: 100%;
        border-radius: var(--border-radius);
        background: var(--bg-color);
        color: var(--primary-color);
        border: var(--border-color) solid 1px;
        font-size: 105%;
        font-weight: var(--font-weight-default);
        cursor: pointer;
        transition: border 0.3s ease, all 0.3s ease;
    }
    button:hover {
        border: var(--primary-color) solid 1px;
        box-shadow: 0 0 12px rgba(var(--primary-color-rgb), 0.25) ;
    }
    button:hover span {
        filter: brightness(1.25);
        text-shadow: 0 0 12px rgba(var(--primary-color-rgb), 0.35);
    }
</style>