---
import Separator from "../components/Separator.astro"
interface Props {
    hasSeparator: boolean;
    isFullWidth: boolean;
}

const { hasSeparator = false, isFullWidth = false } = Astro.props;

const sectionClass = isFullWidth ? "full-width--section" : "locked-width--section";
---

<section class:list={ sectionClass } >
    <slot />
</section>
{hasSeparator && <Separator />}

<style>
    .full-width--section {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 100%;
        position: relative;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .locked-width--section {
        max-width: 1200px;
        margin: 4rem auto;
        padding: 0 2rem;
    }
</style>